In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
loc="./football/"
file_data=[]
raw_list=[]
def file_name(fileName):
    for root,dirs,files in os.walk(fileName):
        for i,files in enumerate(files):
            file_data.append(files)
            raw_list.append("raw_data "+str(i+1))
    print(file_data)
    print(raw_list)
file_name(loc)

['2005-2006.csv', '2006-2007.csv', '2007-2008.csv', '2008-2009.csv', '2009-2010.csv', '2010-2011.csv', '2011-2012.csv', '2012-2013.csv', '2013-2014.csv', '2014-2015.csv', '2015-2016.csv', '2016-2017.csv', '2017-2018.csv', '2018-2019.csv', '2019-2020.csv']
['raw_data 1', 'raw_data 2', 'raw_data 3', 'raw_data 4', 'raw_data 5', 'raw_data 6', 'raw_data 7', 'raw_data 8', 'raw_data 9', 'raw_data 10', 'raw_data 11', 'raw_data 12', 'raw_data 13', 'raw_data 14', 'raw_data 15']

In [3]:
for i in range(len(raw_list)):
    raw_list[i]=pd.read_csv(loc+file_data[i],error_bad_lines=False)
    print("The {} file is {} size is {}".format(i+1,file_data[i],raw_list[i].shape))

The 1 file is 2005-2006.csv size is (380, 68)
The 2 file is 2006-2007.csv size is (380, 68)
The 3 file is 2007-2008.csv size is (380, 71)
The 4 file is 2008-2009.csv size is (380, 71)
The 5 file is 2009-2010.csv size is (380, 71)
The 6 file is 2010-2011.csv size is (380, 71)
The 7 file is 2011-2012.csv size is (380, 71)
The 8 file is 2012-2013.csv size is (380, 74)
The 9 file is 2013-2014.csv size is (380, 68)
The 10 file is 2014-2015.csv size is (380, 68)
The 11 file is 2015-2016.csv size is (380, 65)
The 12 file is 2016-2017.csv size is (380, 65)
The 13 file is 2017-2018.csv size is (380, 65)
The 14 file is 2018-2019.csv size is (380, 62)
The 15 file is 2019-2020.csv size is (288, 106)

In [4]:
raw_list.pop(14) #delete the filesize that the shape[0] is not equal to 380

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,9/8/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/8/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/8/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/8/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/8/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,E0,7/3/2020,15:00,Wolves,Brighton,0,0,D,0,0,...,1.74,-0.75,1.98,1.92,2.01,1.92,2.03,1.99,1.94,1.93
284,E0,7/3/2020,17:30,Burnley,Tottenham,1,1,D,1,0,...,1.74,0.00,1.95,1.95,1.96,1.97,2.00,2.01,1.94,1.92
285,E0,8/3/2020,14:00,Chelsea,Everton,4,0,H,2,0,...,2.13,-0.50,1.85,2.05,1.88,2.04,2.00,2.11,1.86,2.01
286,E0,8/3/2020,16:30,Man United,Man City,2,0,H,1,0,...,1.97,0.75,1.87,2.03,1.85,2.07,1.91,2.11,1.87,2.01
287,E0,9/3/2020,20:00,Leicester,Aston Villa,4,0,H,1,0,...,2.28,-1.00,1.85,2.05,1.88,2.05,1.91,2.08,1.86,2.01

## Extract 5 columns from dataset for data processing

In [5]:
columns_req=["HomeTeam","AwayTeam","FTHG","FTAG","FTR"]
playing_statistics=[]
playing_data={}
for i in range(len(raw_list)):
    playing_statistics.append("playing_statictics "+str(i+1))
    playing_statistics[i]=raw_list[i][columns_req]
    print(file_data[i][0:4]+" playing_statistics ["+str(i)+"]",playing_statistics[i].shape)

2005 playing_statistics [0] (380, 5)
2006 playing_statistics [1] (380, 5)
2007 playing_statistics [2] (380, 5)
2008 playing_statistics [3] (380, 5)
2009 playing_statistics [4] (380, 5)
2010 playing_statistics [5] (380, 5)
2011 playing_statistics [6] (380, 5)
2012 playing_statistics [7] (380, 5)
2013 playing_statistics [8] (380, 5)
2014 playing_statistics [9] (380, 5)
2015 playing_statistics [10] (380, 5)
2016 playing_statistics [11] (380, 5)
2017 playing_statistics [12] (380, 5)
2018 playing_statistics [13] (380, 5)

## calculate hometeam and awayteam winrate %

In [6]:
for i in range(len(playing_statistics)):
    n_matches = playing_statistics[i].shape[0]
    n_homewins = len(playing_statistics[i][playing_statistics[i].FTR == 'H'])
    win_rate = (float(n_homewins) / (n_matches)) * 100
    print ("Number of matches won by home team: {}".format(n_homewins))
    print ("Win rate of home team: {:.2f}%".format(win_rate))

Number of matches won by home team: 192
Win rate of home team: 50.53%
Number of matches won by home team: 182
Win rate of home team: 47.89%
Number of matches won by home team: 176
Win rate of home team: 46.32%
Number of matches won by home team: 173
Win rate of home team: 45.53%
Number of matches won by home team: 193
Win rate of home team: 50.79%
Number of matches won by home team: 179
Win rate of home team: 47.11%
Number of matches won by home team: 171
Win rate of home team: 45.00%
Number of matches won by home team: 166
Win rate of home team: 43.68%
Number of matches won by home team: 179
Win rate of home team: 47.11%
Number of matches won by home team: 172
Win rate of home team: 45.26%
Number of matches won by home team: 157
Win rate of home team: 41.32%
Number of matches won by home team: 187
Win rate of home team: 49.21%
Number of matches won by home team: 173
Win rate of home team: 45.53%
Number of matches won by home team: 181
Win rate of home team: 47.63%

In [7]:
for i in range(len(playing_statistics)):
    n_matches = playing_statistics[i].shape[0]
    n_awaywins = len(playing_statistics[i][playing_statistics[i].FTR == 'A'])
    win_rate = (float(n_awaywins) / (n_matches)) * 100
    print ("Number of matches won by away team: {}".format(n_homewins))
    print ("Win rate of away team: {:.2f}%".format(win_rate))

Number of matches won by away team: 181
Win rate of away team: 29.21%
Number of matches won by away team: 181
Win rate of away team: 26.32%
Number of matches won by away team: 181
Win rate of away team: 27.37%
Number of matches won by away team: 181
Win rate of away team: 28.95%
Number of matches won by away team: 181
Win rate of away team: 23.95%
Number of matches won by away team: 181
Win rate of away team: 23.68%
Number of matches won by away team: 181
Win rate of away team: 30.53%
Number of matches won by away team: 181
Win rate of away team: 27.89%
Number of matches won by away team: 181
Win rate of away team: 32.37%
Number of matches won by away team: 181
Win rate of away team: 30.26%
Number of matches won by away team: 181
Win rate of away team: 30.53%
Number of matches won by away team: 181
Win rate of away team: 28.68%
Number of matches won by away team: 181
Win rate of away team: 28.42%
Number of matches won by away team: 181
Win rate of away team: 33.68%

## Structural features

In [8]:
# get goals  Differece [HTGD] & [ATGD]

def get_goalsDiff(data):
    teams={}
    for i in data.groupby("HomeTeam").mean().index:
        teams[i]=[]
    for i in range(len(data)):
        HTGS=data.iloc[i]["FTHG"]
        ATGS=data.iloc[i]["FTAG"]
        teams[data.iloc[i]["HomeTeam"]].append(HTGS-ATGS)
        teams[data.iloc[i]["AwayTeam"]].append(ATGS-HTGS)
    GoalsDifference=pd.DataFrame(teams,index=[i for i in range(1,39)]).T
    GoalsDifference[0]=0
    for i in range(1,39):
        GoalsDifference[i]=GoalsDifference[i]+GoalsDifference[i-1]
    return GoalsDifference

def get_gss(data):
    GD=get_goalsDiff(data)
    j=0
    HTGD=[]
    ATGD=[]
    for i in range(380):
        ht=data.iloc[i]["HomeTeam"]
        at=data.iloc[i]["AwayTeam"]
        HTGD.append(GD.loc[ht][j])
        ATGD.append(GD.loc[at][j])
        if((i+1)%10)==0:
            j=j+1
    data.loc[:,"HTGD"]=HTGD
    data.loc[:,"ATGD"]=ATGD
    return data
for i in range(len(playing_statistics)):
    playing_statistics[i]=get_gss(playing_statistics[i])
playing_statistics[2].tail()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTGD  ATGD
375  Portsmouth       Fulham     0     1   A     9   -23
376  Sunderland      Arsenal     0     1   A   -22    42
377   Tottenham    Liverpool     0     2   A     7    37
378    West Ham  Aston Villa     2     2   D    -8    20
379       Wigan   Man United     0     2   A   -15    56

In [9]:
# Get Goals points [HTP] &[ATP]

def get_points(result):
    if result=="W":
        return 3
    elif result=="D":
        return 1
    else:
        return 0
    
def get_matches(data):
    teams={}
    for i in data.groupby("HomeTeam").mean().index:
        teams[i]=[]
    for i in range(len(data)):
        if data.iloc[i]["FTR"]=="H":
            teams[data.iloc[i]["HomeTeam"]].append("W")
            teams[data.iloc[i]["AwayTeam"]].append("L")
        elif data.iloc[i]["FTR"]=="A":
            teams[data.iloc[i]["AwayTeam"]].append("W")
            teams[data.iloc[i]["HomeTeam"]].append("L")
        else:
            teams[data.iloc[i]["AwayTeam"]].append("D")
            teams[data.iloc[i]["HomeTeam"]].append("D")
    return pd.DataFrame(teams,index=[i for i in range(1,39)]).T

def create_match(matches):
    matchres_points=matches.applymap(get_points)
    matchres_points[0]=0
    for i in range(1,39):
        matchres_points[i]=matchres_points[i]+matchres_points[i-1]
    return matchres_points

def get_agg_points(data):
    matches=get_matches(data)
    points=create_match(matches)
    HTP=[]
    ATP=[]
    j=0
    for i in range(380):
        ht=data.iloc[i].HomeTeam
        at=data.iloc[i].AwayTeam
        HTP.append(points.loc[ht][j])
        ATP.append(points.loc[at][j])
        if ((i+1)%10)==0:
            j=j+1
    data.loc[:,"HTP"]=HTP
    data.loc[:,"ATP"]=ATP
    return data
for i in range(len(playing_statistics)):
    playing_statistics[i]=get_agg_points(playing_statistics[i])
playing_statistics[2].tail()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTGD  ATGD  HTP  ATP
375  Portsmouth       Fulham     0     1   A     9   -23   57   33
376  Sunderland      Arsenal     0     1   A   -22    42   39   80
377   Tottenham    Liverpool     0     2   A     7    37   46   73
378    West Ham  Aston Villa     2     2   D    -8    20   48   59
379       Wigan   Man United     0     2   A   -15    56   40   84

In [10]:
def get_history(data,num):
    match=get_matches(data)
    #              1  2  3  4  5  6  7  8  9  10  ... 29 30 31 32 33 34 35 36 37 38
#Arsenal        W  L  W  L  W  D  W  L  W  D  ...  W  W  W  L  D  W  D  W  W  W
#Aston Villa    D  L  D  W  L  D  L  L  W  L  ...  L  L  D  L  D  W  L  L  L  W
    match_final=match.copy()
    for i in range(num,39):
        match_final[i]=''
        j=0
        while j<num:
            match_final[i] += match[i-j]
            j+=1
    return match_final

def add_match(data,num):
    match=get_history(data,num)
    #                1   2   3   4   5   6   7   8   9   10  ...  29  30  31  32  33  \
# Arsenal        W  LW  WL  LW  WL  DW  WD  LW  WL  DW  ...  WW  WW  WW  LW  DL   
# Aston Villa    D  LD  DL  WD  LW  DL  LD  LL  WL  LW  ...  LW  LL  DL  LD  DL   
    #                  1  2    3    4    5    6    7    8    9    10  ...   29   30  \
#  Arsenal        W  L  WLW  LWL  WLW  DWL  WDW  LWD  WLW  DWL  ...  WWL  WWW   
# Aston Villa    D  L  DLD  WDL  LWD  DLW  LDL  LLD  WLL  LWL  ...  LWD  LLW   
    
    h=["M" for i in range (num * 10)]
    a=["M" for i in range (num * 10)]
    j=num
    for i in range((num *10 ),380):
        ht=data.iloc[i]["HomeTeam"]
        at=data.iloc[i]["AwayTeam"]
        past=match.loc[ht][j]
        h.append(past[num-1])
        past=match.loc[at][j]
        a.append(past[num-1])
        if((i+1)% 10)==0:
                j=j+1
    data["HM"+str(num)]=h
    data["AM"+str(num)]=a
    return data

def add_match_df(data):
    data=add_match(data,1)
    data=add_match(data,2)
    data=add_match(data,3)
    return data
for i in range(len(playing_statistics)):
    playing_statistics[i]=add_match_df(playing_statistics[i])

playing_statistics[2].head(40)

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGD,ATGD,HTP,ATP,HM1,AM1,HM2,AM2,HM3,AM3
0,Aston Villa,Liverpool,1,2,A,0,0,0,0,M,M,M,M,M,M
1,Bolton,Newcastle,1,3,A,0,0,0,0,M,M,M,M,M,M
2,Derby,Portsmouth,2,2,D,0,0,0,0,M,M,M,M,M,M
3,Everton,Wigan,2,1,H,0,0,0,0,M,M,M,M,M,M
4,Middlesbrough,Blackburn,1,2,A,0,0,0,0,M,M,M,M,M,M
5,Sunderland,Tottenham,1,0,H,0,0,0,0,M,M,M,M,M,M
6,West Ham,Man City,0,2,A,0,0,0,0,M,M,M,M,M,M
7,Arsenal,Fulham,2,1,H,0,0,0,0,M,M,M,M,M,M
8,Chelsea,Birmingham,3,2,H,0,0,0,0,M,M,M,M,M,M
9,Man United,Reading,0,0,D,0,0,0,0,M,M,M,M,M,M
10,Tottenham,Everton,1,3,A,-1,1,0,3,L,W,M,M,M,M
11,Birmingham,Sunderland,2,2,D,-1,1,0,3,L,W,M,M,M,M
12,Fulham,Bolton,2,1,H,-1,-2,0,0,L,L,M,M,M,M
13,Man City,Derby,1,0,H,2,0,3,1,W,D,M,M,M,M
14,Portsmouth,Man United,1,1,D,0,0,1,1,D,D,M,M,M,M
15,Reading,Chelsea,1,2,A,0,1,1,3,D,W,M,M,M,M
16,Wigan,Middlesbrough,1,0,H,-1,-1,0,0,L,L,M,M,M,M
17,Birmingham,West Ham,0,1,A,-1,-2,0,0,L,L,M,M,M,M
18,Fulham,Middlesbrough,1,2,A,-1,-1,0,0,L,L,M,M,M,M
19,Newcastle,Aston Villa,0,0,D,2,-1,3,0,W,L,M,M,M,M
20,Portsmouth,Bolton,3,1,H,0,-3,2,0,D,L,D,L,M,M
21,Reading,Everton,1,0,H,-1,3,1,6,L,W,D,W,M,M
22,Tottenham,Derby,4,0,H,-3,-1,0,1,L,L,L,D,M,M
23,Wigan,Sunderland,3,0,H,0,1,3,4,W,D,L,W,M,M
24,Blackburn,Arsenal,1,1,D,1,1,4,4,D,D,W,W,M,M
25,Liverpool,Chelsea,1,1,D,1,2,4,6,D,W,W,W,M,M
26,Man City,Man United,1,0,H,3,0,6,2,W,D,W,D,M,M
27,Arsenal,Man City,1,0,H,1,3,4,6,D,W,W,W,M,M
28,Aston Villa,Fulham,2,1,H,-1,0,1,3,D,W,L,L,M,M
29,Bolton,Reading,3,0,H,-3,-1,0,1,L,L,L,D,M,M
30,Chelsea,Portsmouth,1,0,H,2,2,7,5,D,W,W,D,W,D
31,Derby,Birmingham,1,2,A,-5,-2,1,1,L,L,L,D,D,L
32,Everton,Blackburn,1,1,D,2,1,6,5,L,D,W,D,W,W
33,Sunderland,Liverpool,0,2,A,-2,3,4,7,L,W,D,D,W,W
34,West Ham,Wigan,1,1,D,-1,3,4,6,D,W,W,W,L,L
35,Man United,Tottenham,1,0,H,-1,1,2,3,L,W,D,L,D,L
36,Middlesbrough,Newcastle,2,2,D,-1,2,3,5,W,D,L,D,L,W
37,Bolton,Everton,1,2,A,-5,2,0,6,L,L,L,W,L,W
38,Fulham,Tottenham,3,3,D,-1,1,3,3,L,W,W,L,L,L
39,Liverpool,Derby,6,0,H,3,-5,7,1,W,L,D,L,W,D

In [11]:
# set 10 days for 1 week 
def get_mw(data):
    j=1
    matchWeek=[]
    for i in range(380):
        matchWeek.append(j)
        if ((i+1)%10)==0:
            j=j+1
    data["MW"]=matchWeek
    return data
for i in range(len(playing_statistics)):
    playing_statistics[i]=get_mw(playing_statistics[i])
playing_statistics[2].head()

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGD,ATGD,HTP,ATP,HM1,AM1,HM2,AM2,HM3,AM3,MW
0,Aston Villa,Liverpool,1,2,A,0,0,0,0,M,M,M,M,M,M,1
1,Bolton,Newcastle,1,3,A,0,0,0,0,M,M,M,M,M,M,1
2,Derby,Portsmouth,2,2,D,0,0,0,0,M,M,M,M,M,M,1
3,Everton,Wigan,2,1,H,0,0,0,0,M,M,M,M,M,M,1
4,Middlesbrough,Blackburn,1,2,A,0,0,0,0,M,M,M,M,M,M,1

In [12]:
# average ["HTGD","ATGD","HTP","ATP"] columns with metchweek
playing_stat=pd.concat(playing_statistics,ignore_index=True)
cols=["HTGD","ATGD","HTP","ATP"]
playing_stat['MW']=playing_stat["MW"].astype(float)
for col in cols:
    playing_stat[col]=playing_stat[col]/playing_stat["MW"]
    
playing_stat.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGD,ATGD,HTP,ATP,HM1,AM1,HM2,AM2,HM3,AM3,MW
0,Aston Villa,Bolton,2,2,D,0.0,0.0,0.0,0.0,M,M,M,M,M,M,1.0
1,Everton,Man United,0,2,A,0.0,0.0,0.0,0.0,M,M,M,M,M,M,1.0
2,Fulham,Birmingham,0,0,D,0.0,0.0,0.0,0.0,M,M,M,M,M,M,1.0
3,Man City,West Brom,0,0,D,0.0,0.0,0.0,0.0,M,M,M,M,M,M,1.0
4,Middlesbrough,Liverpool,0,0,D,0.0,0.0,0.0,0.0,M,M,M,M,M,M,1.0

In [13]:
playing_stat.shape

(5320, 16)

In [14]:
# delet some data 
playing_stat=playing_stat[playing_stat["MW"]>3]

playing_stat.drop(["HomeTeam","AwayTeam","FTHG","FTAG","MW"],1,inplace=True)
playing_stat.keys()

Index(['FTR', 'HTGD', 'ATGD', 'HTP', 'ATP', 'HM1', 'AM1', 'HM2', 'AM2', 'HM3',
       'AM3'],
      dtype='object')

## calculate hometeam and awayteam rate again ,to make sure that our features data is closely equal to the raw data

In [15]:
n_matches = playing_stat.shape[0]
n_homewins = len(playing_stat[playing_stat.FTR == 'H'])
win_rate = (float(n_homewins) / (n_matches)) * 100
print("Total match: {}".format(n_matches))
print ("Number of matches won by home team: {}".format(n_homewins))
print ("Win rate of home team: {:.2f}%".format(win_rate))

Total match: 4900
Number of matches won by home team: 2296
Win rate of home team: 46.86%

In [16]:
n_matches=playing_stat.shape[0]
n_awaywins=len(playing_stat[playing_stat.FTR=="A"])
win_rate=(float(n_awaywins)/(n_matches)) *100
print("Total match: {}".format(n_matches))
print ("Number of matches won by away team: {}".format(n_awaywins))
print ("Win rate of home team: {:.2f}%".format(win_rate))

Total match: 4900
Number of matches won by away team: 1396
Win rate of home team: 28.49%

In [17]:
# The proportion of winning at hometeam is close to 50%, so for the three categories, the label proportion is not uniform, so 
# change the labels to two categories hometeam win or not
def only_hw(string):
    if string=="H":
        return "H"
    else:
        return "NH"
playing_stat["FTR"]=playing_stat["FTR"].apply(only_hw)

In [36]:
X_all=playing_stat.drop(["FTR"],1)
y_all=playing_stat["FTR"]
len(X_all)

4900

In [37]:
X_all.head()

    HTGD  ATGD   HTP   ATP HM1 AM1 HM2 AM2 HM3 AM3
30  1.00  1.50  1.75  2.25   D   W   W   W   W   W
31 -0.75 -1.00  1.00  0.25   L   L   W   L   D   D
32  0.25  0.25  1.00  1.00   L   W   D   L   W   D
33 -0.25 -1.00  0.75  0.00   W   L   L   L   L   L
34  0.25  1.50  1.00  2.25   W   W   L   W   D   W

In [38]:
from sklearn.preprocessing import scale
cols=[["HTGD","ATGD","HTP","ATP"]]
for col in cols:
    X_all[col]=scale(X_all[col])

In [39]:
X_all["HM1"]=X_all["HM1"].astype("str")
X_all["HM2"]=X_all["HM2"].astype("str")
X_all["HM3"]=X_all["HM3"].astype("str")
X_all["AM1"]=X_all["AM1"].astype("str")
X_all["AM2"]=X_all["AM2"].astype("str")
X_all["AM3"]=X_all["AM3"].astype("str")

def dummies_features(X):
    output=pd.DataFrame(index=X.index)
    for col,col_data in X.iteritems():
        if col_data.dtype== object:
            col_data=pd.get_dummies(col_data,prefix=col)
        output=output.join(col_data)
    return output
X_all=dummies_features(X_all)
print("total features {} : \n {}".format(len(X_all.columns),list(X_all.columns)))

total features 22 :
 ['HTGD', 'ATGD', 'HTP', 'ATP', 'HM1_D', 'HM1_L', 'HM1_W', 'AM1_D', 'AM1_L', 'AM1_W', 'HM2_D', 'HM2_L', 'HM2_W', 'AM2_D', 'AM2_L', 'AM2_W', 'HM3_D', 'HM3_L', 'HM3_W', 'AM3_D', 'AM3_L', 'AM3_W']

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_all,y_all,test_size=0.2,random_state=42)